<html>
</header>


<link rel="stylesheet" type="text/css" href="card-product.css">

</header>

<body>
  <div class="container">
  <h1 style="text-align:center"> Products</h1>
    <div class="row">
      <div class="box arrow_left">
        <button>
          <img class="icon_arrow_left" src="../../assets/productcard-image/arrow_left.svg" alt="arrow_left">
        </button>
      </div>
      <div class="inner_block">  
        <div class="column">
          <div class="card bg-purple">
            <div  class="icon">
              <img src="../../assets/productcard-image/brain.svg" alt="Brain">
            </div>
          </div>
          <p>AI Book</p>
          <p>The machine writes the book that base on the user requirements. </p>
        </div>

        <div class="column">
          <div class="card bg-orange">
            <div  class="icon">
              <img src="../../assets/productcard-image/iot.svg" alt="IOT">
            </div>
          </div>
          <p>AI Book</p>
          <p>The machine writes the book that base on the user requirements. </p>
        </div>

        <div class="column">
          <div class="card bg-yellow">
            <div  class="icon">
              <img src="../../assets/productcard-image/phone.svg" alt="Phone">
            </div>
          </div>
          <p>AI Book</p>
          <p>The machine writes the book that base on the user requirements. </p>
        </div>

        <div class="column">
          <div class="card bg-lightgreen">
            <div  class="icon">
              <img src="../../assets/productcard-image/video_editing.svg" alt="Video_Editing">
            </div>
          </div>
          <p>AI Book</p>
          <p>The machine writes the book that base on the user requirements. </p>
        </div>
      </div>
      <div class="box arrow_right">
        <button>
          <img class="icon_arrow_right" src="../../assets/productcard-image/arrow_right.svg" alt="arrow_right">
          </button>
      </div>
    </div>  
  </div> 
  


</body>
</html>
